html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}
h1 {
    font-size: 36px;
    font-weight: 700;
}
h2 {
    font-size: 30px;
    font-weight: 700;
}
p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
}
a {
    text-decoration: none;
}
h1,h2,h3 {
    font-family: 'DM Serif Display', serif;
}
body {
    font-family: 'Karla', sans-serif;
}
/* feature */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* button */
.btn {
    border: 1.5px solid #B5B5B5;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #88858C;
    display: inline-block;
}
/* header */
.list-items {
    margin-left: 20px;
}
.list-items:last-child {
    margin-left: 30px;
}
.list-items:first-child {
    margin-left: 0;
}
.list-items a {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #88858C;
    padding: 8px;
}
.logo {
    color: #2D2640;
}
/* hero */
.hero {
    background-color: #2D2640;
}
.col-1-2 {
    flex: 1 1 50%;
}
hr {
    border: 0;
    border-top: 2px solid #ffffff;
    width: 20%;
    display: inline-block;
    align-items: left;
    margin-top: 30px;
}
.hero-heading {
    margin: 30px 0;
    line-height: 1.4;
    font-size: 50px;
    color: white;
}
.hero-text {
    color: white;
}
.primary-btn {
   color: white;
   border-color: white;
   padding: 14px;
   margin: 20px 0;
}
.hero-image {
    position: absolute;
    bottom: 0;
}
/* second-article */
.col-heading {
    font-size: 40px;
    color: #01122D;
    margin: 20px 0;
}
.second-article {
    margin-top: 190px;
}
.col-text {
    color: #817E86;
    font-weight: 600;
}
